<!DOCTYPE html>
<html>
<head>
  <title>Gush control engine</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    "gush/control/engine/application", media: "all" %>
  <%= javascript_include_tag "gush/control/engine/application" %>
</head>
<body>

<%= yield %>

</body>
</html>
